.all_goods {
  margin-top: 30px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.all_goods_categories {
  width: 330px;
  height: 100%;
  margin-right: 30px;
}
.all_goods_categories h3 {
  text-transform: uppercase;
}

.all_goods_categories_list {
  display: flex;
  align-items: center;
  margin-block: 5px;
  opacity: 60%;
  transition: all 0.4s ease-in-out;
}

.all_goods_categories_text {
  height: 24px;
  margin-right: 15px;
}

.all_goods_categories_list:hover {
  opacity: 1;
  cursor: pointer;
  transform: translate(20px, 0);
}
.all_goods_categories_list:hover > .arrow {
  opacity: 1;
}
.arrow {
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
