.card_box_default_gap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}

.card_box_wide_gap {
  display: flex;
  gap: 39px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}
