.banner {
  background-color: white;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner_image {
  width: 400px;
  z-index: -1;
}

.banner h2 {
  margin-bottom: 35px;
}

.fullWidthTxt {
  font-size: 142px;
}

.banner_button_box {
  width: 350px;
}
